---
layout: base.njk
---
<article class="post">
  <h1 class="post-title">{{ title }}</h1>
  <p class="byline"><a href="{{ page.url }}"><time datetime="{{ date | isoDate }}">{{ date | niceDate }}</time></a>{% for c in categories %} &middot; <a href="/category/{{ c }}/">{{ c | catName }}</a>{% endfor %}</p>
  <div class="content endmark">{{ content | safe }}</div>
</article>
