---
layout: base.njk
permalink: /author/krishna/
pageTitle: krishna
---
<div class="page-head"><h1>All posts</h1></div>
<ul class="index">
{% for p in collections.posts %}  <li><span class="t"><a href="{{ p.url }}">{{ p.data.title }}</a></span><time datetime="{{ p.date | isoDate }}">{{ p.date | niceDate }}</time></li>
{% endfor %}</ul>
