---
layout: base.njk
pagination:
  data: collections.byMonth
  size: 1
  alias: mon
permalink: "/{{ mon.key }}/"
eleventyComputed:
  pageTitle: "{{ mon.label }}"
---
<div class="page-head"><h1>Archive: <span>{{ mon.label }}</span></h1></div>
<ul class="index">
{% for p in mon.posts %}  <li><span class="t"><a href="{{ p.url }}">{{ p.data.title }}</a></span><time datetime="{{ p.date | isoDate }}">{{ p.date | niceDate }}</time></li>
{% endfor %}</ul>
